<!--
  View: Cadastro de Artigo
  - Interface simplificada para criar um novo artigo
  - Usa CSS específico para o formulário de cadastro
-->
<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal de notícias</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/cadastro_artigo.css">
  <link rel="icon" href="/css/assets/favicon.ico">
</head>
<body>
  <header class="container">
  <nav id="primary" class="grid grid-flow-col">
    <!-- Botão Menu -->
    <a href="#" id="menu-btn">
      <div>
        <img src="/css/assets/icons/List.svg" alt="icone de menu">
        <strong>Menu</strong>
      </div>
    </a>

    <!-- Logo -->
    <div>
      <img src="/css/assets/Tech News.svg" alt="TechNews Logo">
    </div>

    <!-- Botão Buscar -->
    <div class="end" id="search-btn">
      <a href="#"><strong>Buscar</strong></a>
      <img src="/css/assets/icons/MagnifyingGlass.svg" alt="icone de busca">
    </div>
  </nav>

  <!-- Menu dropdown -->
  <div class="menu-dropdown hidden">
    <ul>
  <li><a href="/">Início</a></li>

  <% if (login) { %>
    <li><a href="#">Olá, <%= login.nome_usuario %>!</a></li>
  <% } else { %>
    <li><a href="/login">Fazer login</a></li>
  <% } %>
  <%if (login.admin_usuario === 2){ %>
    <li><a href="/artigos/">Criar um artigo</a></li>
  <% } %>
  <li><a href="#">Contato</a></li>
  <li><a href="/login/logout">Sair</a></li>
  </ul>
  </div>

  <!-- Campo de busca -->
  <div class="search-bar hidden">
    <form action="/buscar_artigos" method="post">
    <input type="text"   name="busca" placeholder="Digite sua busca...">
    <button class="btn-buscar" type="submit">Buscar</button>
    </form>
  </div>
    
  
  </header>

  <div class="container">
    <h1>Cadastro de Artigo</h1>
    <form action="/artigos/cadastrar_artigo" method="post" enctype="multipart/form-data">
      <label for="titulo_artigo">Título do Artigo:</label>
      <input type="text" id="titulo_artigo" name="titulo_artigo" required>
      <br>

      <label for="resumo_artigo">Resumo do Artigo:</label>
      <textarea id="resumo_artigo" name="resumo_artigo" required></textarea>
      <br>

      <label for="conteudo_artigo">Conteúdo do Artigo:</label>
      <textarea id="conteudo_artigo" name="conteudo_artigo" required></textarea>
      <br>

      <label for="id_categoria">Categoria:</label>
      <select id="id_categoria" name="id_categoria" required>
        <% categorias.forEach(categoria => { %>
          <option value="<%= categoria.id_categoria %>"><%= categoria.nome_categoria %></option>
        <% }); %>
      <br>

      
      <input type="hidden" id="id_usuario" name="id_usuario" value="1" required>
     

      <label for="imagem_destaque_artigo">Imagem de Destaque:</label>
      <input type="file" id="imagem_destaque_artigo" name="imagem_destaque_artigo" accept="image/*" required>
      <br>

      <button type="submit" name="action" value="incluir">Cadastrar Artigo</button>
    </form>
  </div>

<footer>
  voltar</footer>
  
  <script src="/js/menuInterativo.js"></script>
</body>
</html>