@import url(utility.css);



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #CBD5E1;
  --font-family: 'Archivo', sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);  
}

body{
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--brand-color-light);
}

.container{
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
  
  
}


.img-Artigo{
  img{ 
  width: 100%;
  height: 35rem;
  margin-block: 1rem;

 }
}
.titulo-artigo{
  text-align: center;
  margin-bottom: 1rem;

  h1{
    font-size: 3rem;
  }
  h2{
    display: inline;
  }

}

#secondary{
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}


#primary{
  padding-block: 20px;
 
  div:nth-child(2){
    margin-inline: auto;
  }
  div:nth-child(3){
    justify-self: end;
  }
}
#primary div {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre o ícone e o texto */

}


.conteudo-artigo{
  font: var(--text);
  min-height: 15rem;
  padding: 1rem;
  text-align: center;
  
}


footer div{
   border-top: solid 1px var(--stroke-color);
   text-align: center;
   margin-block: 1rem;
   padding: 10px;
}


