:root {
      --font-family: 'Archivo', sans-serif;
      --h1: 800 24px/135% var(--font-family);
      --text: 400 16px/140% var(--font-family);
      --cor-principal: #291B1A;
      --cor-secundaria: #5ca3b3;
      --cor-fundo: #F0E8C2;
      --cor-body: #0F172A;
    }




body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex; 
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  margin: 0;
  background-color: #0F172A;

}


.container {
  border: 1px solid var(--cor-principal);
  color: var(--cor-principal);
  padding: 2rem;
  background-color: var(--cor-fundo);
  width: 90%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  box-sizing: border-box;
  background-color: #F0E8C2;
}

h2 {
  font: var(--h1);
  text-align: center;
  font-size: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: aliceblue;
}

.button-td {
  background-color: var(--cor-principal);
  color:  #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.button-td:hover {
  background-color: var(--cor-secundaria);
  transform: scale(1.05);
}

.button-td:active {
  transform: scale(0.95);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-delete {
  background-color: #e74c3c;
}

.btn-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  align-content: center;
}

.form-principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "nome_usuario senha_usuario"
    "email_usuario admin_usuario"
    "btn-group btn-group";
  gap: 3rem;
  align-items: start;
}

.form-principal label {
  font-weight: bold;
}

.form-principal input, .form-principal select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
}